main {
  max-width: 926px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.btn {
  border-radius: 10px;
  background: #3300ff;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 30px;
  cursor: pointer;
}
.btn:not(:disabled):hover {
  background-color: transparent;
  outline: 1px solid #3300ff;
  color: #3300ff;
  transition: all 0.5s;
}
.btn:disabled {
  background-color: gray;
  border: 0;
  cursor: auto;
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  position: relative;
}

.test {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.test__title {
  font-weight: 800;
  font-size: 48px;
  margin-left: 20px;
}

.test__content {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 40px 20px 40px 60px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-question-container {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  user-select: none;
}

.game-options-container {
  flex: 1 1 400px;
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input[type="radio"]:not(:disabled):active + label::before {
  background-color: #3300ff;
}
input[type="radio"]:focus:not(:checked) + label::before {
  border-color: #3300ff;
}
input[type="radio"]:checked + label::before {
  border-color: #3300ff;
  background-color: #3300ff;
}
input[type="radio"]:disabled + label::before {
  background-color: #e9ecef;
}
.option {
  cursor: pointer;
  font-weight: 600;
  line-height: 140%;
  color: rgb(22, 22, 22);

  display: flex;
  align-items: center;
  gap: 20px;
}
.option::before {
  content: "";
  display: inline-block;
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.test__progressbar {
  position: relative;
  width: 100%;
  padding: 20px 0;
}
.test__progressbar-line_gray {
  display: block;
  height: 12px;
  width: 100%;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.test__progressbar-line_blue {
  display: block;
  background-color: #3300ff;
  height: 100%;
  /* width: 200px; */
  border-radius: 10px;
  transition: all 1s;
}
.test__progressbar-start {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
}
.test__progressbar-current {
  font-weight: 700;
  position: absolute;
  bottom: 0;
  transition: all 1s;
}
.test__progressbar-end {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
}

.results {
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 80px 0;
}
.results__title {
  font-size: 48px;
  font-weight: 800;
}
.results__subtitle {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
}
.results__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.results__item {
  padding: 40px;
  border-radius: 20px;
  background-color: red;
}
.results__item-question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.results__item-answer {
  line-height: 140%;
}
.results__again-test-btn {
  text-align: center;
}
